import {Table,} from "@mantine/core";
import {IStrapiEntity} from "services/strapi";
import { I{{pascalCase model}} } from "features/{{kebabCase featureFolderName}}";
import {useState} from "react";

interface Props {
    {{camelCase modelPlural}}: IStrapiEntity<I{{pascalCase model}}>[],
    onSort?: (field: keyof I{{pascalCase model}}, reversed: boolean) => void,
}

export function {{pascalCase modelPlural}}Table({ {{camelCase modelPlural}}, onSort }: Props) {
    const [sortBy, setSortBy] = useState<keyof I{{pascalCase model}} | null>(null);
    const [reverseSortDirection, setReverseSortDirection] = useState(false);

    const rows = {{camelCase modelPlural}}.map(({{camelCase model}}) => {
        const { {{modelAttributes}} } = {{camelCase model}}.attributes;
        return (
            <tr key={ {{camelCase model}}.id }>

            </tr>
        )
    });

    return (
        <Table>
            <thead>
            <tr>

            </tr>
            </thead>
            <tbody>{rows}</tbody>
        </Table>
    )
}
